openapi: 3.0.0
info:
  title: oplog.se API
  description: This is the API for oplog.se
  version: 1.0.0
servers:
  - url: https://oplog.se/api/v1
paths:
  /login:
    post:
      summary: Login
      description: This is to authenticate the user. If successful it returns a cookie
        to be used in subsequent requests
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                password:
                  type: string
        required: true
      responses:
        '200':
          description: If authentication is successful. Returns a cookie with an empty
            response body
        '401':
          description: If authentication fails
  /logout:
    post:
      summary: Logout
      description: This is to logout the user and clear the session!!
      operationId: logout
      responses:
        '200':
          description: If logout is successful. Returns empty response body
  /operations:
    get:
      summary: Get operations
      description: Fetches all operations. Returns an array of unsorted operations.
      operationId: getOperations
      responses:
        '200':
          description: Return an array of operations. Unsorted
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OPERATION'
    post:
      summary: Add operation
      description: Add an operation
      operationId: addOperation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NEW_OPERATION'
      responses:
        '200':
          description: 'Returns the operation with an id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OPERATION'
components:
  schemas:
    NEW_OPERATION:
      type: object
      required:
        - icd
        - date
        - mainOperator
      properties:
        icd:
          type: string
          description: One of Socialstyrelsens KVÅ-koder from 2017.
        date:
          type: string
          format: date
          description: Only accepts format 'YYYY-MM-DD'. The time part is added on the server with the current UTC time.
        mainOperator:
          type: boolean
          description: Operator = true. Assistant = false.
    OPERATION:
      allOf:
        - required:
          - _id
          properties:
            _id:
              type: string
              description: Unique ID for the operation.
            date:
              type: string
              format: date-time
              description: 'Date in UTC timezone and formated according ISO 8601. Example: "2018-08-06T09:54:29.697Z"'
        - $ref: '#/components/schemas/NEW_OPERATION'
      example:
        _id: 5b681ad52de2491060977ed3
        icd: JAB30
        date: 2018-08-06T09:54:29.697Z,
        mainOperator: true
